@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --top-text-color: rgb(255, 255, 255);
    --top-color: rgb(47, 59, 162);
    --fundo-color: rgb(207, 207, 207);
}

.mobile {
    /* display: flex; */
    display: block;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 1.rem;
}

/* .menu-mobile{
    display: block;
} */

.menu-icon {
    position: fixed;
    width: 100%;
    height: 10%;
    background-color: var(--top-color);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
}
.menu-icon img {
    width: 20px;
    margin: 5px;
}

.lista-mobile {
    width: 100%;
    height: 90%;
    top: 10%;
    left: -100%;
    transition: 0.4s;
    background-color: var(--top-color);
    position: fixed;
    z-index: 1;
}

.lista-mobile a {
    text-decoration: none;
    color: var(--top-text-color);
    font-size: 15px;
}

.lista-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100%;

}

.container-mobile{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.tabela{
    margin-top: 100px;
}





.desktop{
    width: 100%;
    height: 100%;
    display: none;
    font-family: 'Poppins', sans-serif;
}

.top-desktop a{
    text-decoration: none;
    color: var(--top-text-color);
    font-size: 20px;
}

.top-desktop ul{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    list-style: none;
    column-gap: 10px;
    margin-right: 10px;
}

.top-desktop{
    display: block;
    position: fixed;
    background-color: var(--top-color);
    color: var(--top-text-color);
    height: 10%;
    width: 100%;
}

.container-desktop{
    display: flex;
    margin-top: 4.5%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tabela{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 85px;
    margin-bottom: 10px;
    border-collapse: collapse;
}

.tabela th, .tabela td {
    border: 1px solid black;
    padding: 1px;
}

h1{
    margin-bottom: 10px;
    color: var(--top-color);
    /* text-align: center; */
}


@media screen and (min-width: 760px) {
    .mobile {
        display: none;
    }

    .desktop{
        display: flex;
    }
}


